form {
	width: 50%;
	margin: 3em auto 0 auto;
	padding: 1em;
}

form label {
	display: block;
	padding-bottom: 0.2em;
}

form input[type=email], form input[type=password] {
	width: 90%;
	padding: 0.5em;
	font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
}

form div {
	padding: 0.5em 0;
}

form a {
	color: #4d7291;
	text-decoration: none;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

form span {
	font-size: 0.8em;
}